body {
    font-family: Century Gothic, sans-serif;
    color: #cbcbcb;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #261e1e;
    padding: 15px;
    font-size: 15px;
}
#fullBackground {
    background: linear-gradient(to right, #007bff, #423535); /* Background spanning across */
    width: 100%; /* Make it span across the container */
    padding: 20px; /* Add some padding for spacing */
    text-align: center; /* Center-align the text */
    color: white; /* Ensure the text is readable */
    box-shadow: -3px -3px 0 #000, 3px -1px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000; /* Optional shadow */
}
.label {
   margin-bottom: -5px;
  }

h1 {
    text-align: center;
}
h3 {
    display: inline;
}
h2 {
    display: inline;
}
.page-title {
       display: block;
       margin-top: 0;
       margin-bottom: .5rem;
       font-size: 2rem;
    }
    .subtitle {
      display: block;
      margin: 0;
      font-size: 1rem;
      color: gray;
    }
h2, label {
  margin: 0; /* Removes any default margin */
  padding: 0; /* Removes padding */
}

.container {
  padding: 0; /* Remove any padding from the container */
}

.epoki h2 + label {
  margin-top: 0; /* Removes the gap above the label */
}
c-c {
    position: fixed;
bottom: 0;
right: 0;
    font-size: 12px;
    color: #cbcbcb;
}
c-b {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 12px;
}
h4 {
    font-size: 10px;
    color:#aeb1b2;
    text-shadow: none;
    display: inline;
}
h4-c {
    font-size: 10px;
    color:#c81e1e;
    text-shadow: none;
    display: inline;
}
.flashcards, .summary {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #423535;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: -3px -3px 0 #000, 3px -1px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}
.menu {
    width: 100%;
    max-width: 800px; /* Ogranicz szerokość menu, dostosuj według potrzeb */
    margin: 0 auto; /* Wyśrodkuj */
    padding: 10px;
    background-color: #423535; /* Kolor tła menu */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: -3px -3px 0 #000, 3px -1px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
    align-items: center;
    text-align: center;
}
.epoki {
    width: 100%;
    max-width: 800px; /* Ogranicz szerokość menu, dostosuj według potrzeb */
    margin: 0 auto; /* Wyśrodkuj */
    padding: 10px;
    background-color: #423535; /* Kolor tła menu */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-shadow: -3px -3px 0 #000, 3px -1px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
    align-items: center;
    text-align: center;
    display: block;
    gap: 0;
    
}
#ni {
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

#innekraje {
    text-align: left;
}
#epoki {
    text-align: left;
}
/* Domyślnie ukryte sekcje */
.flashcards,
.summary {
    display: none; /* Ukryj domyślnie sekcje */
}

.input-group {
    margin-bottom: 15px;
    margin-top: 10px;
}

.input-group input {
    padding: 10px;
    width: 90%;
    margin-bottom: 10px;
}
input, textarea {
  background-color: #7b7b7b;
    color: white;

}
input::placeholder {
    color: #ffffff;  /* Tutaj możesz ustawić dowolny kolor */
}

.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
}
#start {
    background-color: #0026ff; /* Zielone tło */
    color: white; /* Biały tekst */
    padding: 10px 20px; /* Odstępy wewnętrzne */
    border: none; /* Usunięcie obramowania */
    cursor: pointer; /* Kursor jako wskaźnik */
    font-size: 20px; /* Rozmiar czcionki */
    margin-bottom: 10px;
    width: 250px;
    margin: 0 auto;
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#start:hover {
    background-color: #0156ac; /* Ciemniejsze zielone tło na hover */
}
.button:hover {
    background-color: #0056b3;
}
/* Ustaw przyciski w kontenerze obok siebie */
.summary .button-container {
    display: flex;
    margin-top: 20px;
}

/* Styl dla ukrywania kontenera przycisków */
.hidden-button-container {
    display: none;
}

/* Dodaj styl dla kontenera przycisków w sekcji podsumowania */
.button-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Pozwala przyciskom na zawijanie w razie potrzeby */
    margin-top: 20px;
}

.hidden-input {
    display: none;
}

/* Styl dla przycisku Opcje zaawansowane */
#advancedOptionsButton {
    width: auto; /* Przywróć domyślną szerokość */
    height: auto;
    font-size: auto;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    justify-items: center;
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}
.container {
    width: 80%; /* Szerokość kontenera, dopasuj w zależności od potrzeb */
}
/* Styl dla menu zaawansowanych opcji */
.advanced-options {
    width: 50%; /* Dopasuj szerokość menu opcji */
    padding: 10px;
    background-color: #423535;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 auto; /* Wyśrodkuj */
    align-items: left;
}
.hidden {
    display: none;
}

/* Styl dla widocznego menu */
.advanced-options.visible {
    align-items: left;
}

.home-button {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000; /* Upewnij się, że przycisk jest nad innymi elementami */
}
.correct {
    color: green;
        
}
.incorrect {
    color: #c90202;
    box-shadow: -3px -3px 0 #000, 3px -1px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
    
}
